<%= for {word, index} <- @array do %>
  <.live_component module={FriouardleWeb.Components.Game.Board} word={word} id={"board-#{index}"} />
<% end %>
<.live_component module={FriouardleWeb.Components.Game.Keyboard} id="keyboard" />
